* {
  font-family: 'Roboto', sans-serif;
}

header {
  position: relative;
}

nav {
  position: relative;
  height: 50px;
  background-color: #212121;
}

.menu {
  position: fixed;
  z-index: 3;
  padding: 13px 70px;
  margin: 0;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu_item {
  border-right: 2px dotted black;
  padding-right: 30px;
  margin-right: 28px;
}

.menu_link {
  color: #B5B5B5;
  font-size: 15px;
  font-weight: 300px;
}

.menu_item:last-child {
  border: none;
  padding-right: 0;
  margin-right: 0;
}

.humburger {
  display: none;
}

.subheader {
  position: absolute;
  width: 100%;
  height: 84px;
  background-color: rgba(0, 0, 0, 0.6);
}

.subheader_logo {
  display: block;
  max-width: 100%;
  margin-top: 16px;
}

.subheader_official {
  margin-top: 6px;
  opacity: 0.5;
  color: #ffffff;
  font-size: 13px;
  font-weight: 400;
}

.subheader_call {
  font-size: 12px;
  color: #ffffff;
  margin-top: 19px;
  font-weight: 300;
  text-align: right;
}

.subheader_phone {
  font-size: 22px;
  color: #ffffff;
  display: block;
  margin-top: 8px;
  font-weight: 400;
  text-align: right;
  text-transform: uppercase;
  line-height: 12px;
}

.subheader_btn {
  -webkit-box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.12);
          box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.12);
  color: #D1DBD3;
  border: none;
  border-radius: 4px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#1eacc7), to(#4ce2ff));
  background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);
  width: 171px;
  height: 44px;
  margin-top: 20px;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.21);
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}

.subheader_btn:hover {
  background-image: none;
  background-color: #1EACC7;
}

.promo {
  min-height: 800px;
  padding: 159px 0 135px 0;
  background: url("../img/main_bg.jpg") center center/cover no-repeat;
}

.promo_header {
  color: #ffffff;
  font-weight: 7oo;
  text-transform: uppercase;
  font-size: 60px;
  margin: 0;
  line-height: 60px;
  text-align: center;
}

.promo_subheader {
  color: #ffffff;
  font-weight: 7oo;
  text-transform: uppercase;
  font-size: 36px;
  line-height: 36px;
  margin: 0;
  margin-top: 22px;
  text-align: center;
}

.promo_descr {
  color: #ffffff;
  font-size: 17px;
  font-weight: 400;
  text-align: center;
  line-height: 24px;
  text-indent: 30px;
  margin-top: 23px;
}

.promo_btn {
  display: block;
  -webkit-box-shadow: inset 0 -4px 0 rgba(0, 0, 0, 0.12);
          box-shadow: inset 0 -4px 0 rgba(0, 0, 0, 0.12);
  color: #D1DBD3;
  border: none;
  border-radius: 4px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#1eacc7), to(#4ce2ff));
  background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);
  width: 260px;
  height: 63px;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.21);
  font-size: 18px;
  font-weight: 400;
  line-height: 66px;
  text-transform: uppercase;
  margin: 118px auto 0 auto;
  text-align: center;
}

.promo_btn:hover {
  background-image: none;
  background-color: #1EACC7;
}

.content {
  min-height: 900px;
  padding: 67px 0 60px 0;
}

.lable {
  margin: 0 auto;
  height: 24px;
  width: 112px;
  padding: 5px 12px;
  background-color: #000000;
  text-align: center;
  color: #ffffff;
  font-size: 11px;
  font-weight: 300;
  text-transform: uppercase;
}

.title {
  margin-top: 38px;
  margin-bottom: 0px;
  font-size: 38px;
  font-weight: 700;
  text-align: center;
  color: #222222;
  text-transform: uppercase;
}

.subtitle {
  margin-top: 19px;
  color: #222222;
  font-size: 17px;
  font-weight: 400;
  text-align: center;
}

.content_icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 114px;
  height: 114px;
  border-radius: 50%;
  background-color: #1EACC7;
  margin: 15px auto;
  margin-right: 0;
}

img {
  margin: 0 0;
}

.content_descr {
  width: 343px;
  color: #5B3F3F;
  font-size: 14px;
  font-weight: 300px;
  line-height: 20px;
  text-align: justify;
  margin-bottom: 36px;
}

span {
  font-size: 16px;
  color: #1EACC7;
}

.icon {
  margin: -6px auto;
  margin-right: 0;
}

.mobile {
  min-height: 864px;
  padding: 48px 0 79px 0;
  background: url("../img/bg/mobile_app.png") center center/cover no-repeat;
}

.mobile .row {
  margin-top: 32px;
}

.mobile_item {
  position: relative;
  width: 320px;
  height: 280px;
  margin: 0 auto;
  margin-bottom: 19px;
  padding-top: 92px;
}

.mobile_item_1 {
  background: url("../img/bg/mobile_screen_1.png") center center/cover no-repeat;
}

.mobile_item_2 {
  background: url("../img/bg/mobile_screen_2.png") center center/cover no-repeat;
}

.mobile_item_3 {
  background: url("../img/bg/mobile_screen_3.png") center center/cover no-repeat;
}

.mobile_item_4 {
  background: url("../img/bg/mobile_screen_4.png") center center/cover no-repeat;
}

.mobile_item_5 {
  background: url("../img/bg/mobile_screen_5.png") center center/cover no-repeat;
}

.mobile_item_6 {
  background: url("../img/bg/mobile_screen_6.png") center center/cover no-repeat;
}

.mobile_item_subtitle {
  font-size: 24px;
  fpnt-weight: 400;
  line-height: 31px;
  text-transform: uppercase;
  color: #E3C9CA;
  text-align: center;
}

.mobile_item_plus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: 35px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 26px;
  height: 26px;
  background-color: #000000;
  margin: 0 auto;
  border-radius: 100%;
  padding: 6px;
  cursor: pointer;
}

.mobile_item_plus:before {
  content: '';
  width: 14px;
  display: block;
  height: 2px;
  background-color: #1EACC7;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.mobile_item_plus:after {
  content: '';
  display: block;
  height: 14px;
  width: 2px;
  background-color: #1EACC7;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.mobile_item_plus:hover:before, .mobile_item_plus:hover:after {
  background-color: #ff5656;
}

.uberx {
  min-height: 498px;
  margin-top: 0;
  padding: 52px 0 0 0;
  background: url("../img/bg/uberx_bg.png") center center/cover no-repeat;
}

.uberx .label {
  margin: 0 auto;
  height: 24px;
  width: 112px;
  padding: 5px 12px;
  text-align: center;
  font-size: 11px;
  font-weight: 300;
  text-transform: uppercase;
  color: #000000;
  background-color: #ffffff;
}

.uberx .title {
  margin-top: 38px;
  margin-bottom: 0px;
  font-size: 38px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 30px;
}

.uberx .subtitle {
  margin-top: 19px;
  font-size: 17px;
  font-weight: 400;
  text-align: center;
  color: #ffffff;
}

.uberx_content {
  height: 265px;
  margin-top: 56px;
  padding-top: 25px;
  background: url("../img/uber/uber_1.png") center center no-repeat;
}

.uberx_content_text {
  text-align: center;
  font-size: 40px;
  color: #ffffff;
  font-weight: 400;
  line-height: 45px;
}

.uberx_content_text_1 {
  text-align: center;
  text-transform: uppercase;
  color: #362C1D;
  font-size: 14px;
  font-weight: 400;
}

.uberx_content_car {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 34px;
}

.uberx_footer {
  min-height: 396px;
  background-color: #1EACC7;
  padding: 218px 0 135px 0;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.require {
  padding: 68px 0 84px 0;
}

.require_block {
  margin: 33px 0;
}

.require_block_nmb {
  margin-bottom: 0;
}

.require_title {
  color: #1ca8c3;
  font-size: 22px;
  font-weight: 400;
}

.require_list {
  margin-top: 22px;
  list-style-type: none;
  padding-left: 50px;
}

.require_list li {
  position: relative;
  font-size: 17px;
  font-weight: 300;
  line-height: 24px;
  margin-bottom: 10px;
}

.require_list li:before {
  content: '';
  display: block;
  position: absolute;
  left: -32px;
  top: 1px;
  width: 21px;
  height: 20px;
  background: url("../icons/check_blue.png") center center/cover no-repeat;
}

.require_descr {
  margin_top: 25px;
  font-size: 17px;
  font-weight: 300;
  line-height: 24px;
  color: #1CA8C3;
}

.require .warning .require_title {
  color: #ff5656;
}

.require .warning .require_list li:before {
  background: url("../icons/check_red.png") center center/cover no-repeat;
}

.cities {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 720px;
  background: url("../img/bg/cities_bg.png") center center/1200px 720px no-repeat;
  background-color: #070710;
  padding: 50px 0 50px 0;
}

.cities .label {
  margin: 0 auto;
  height: 24px;
  width: 112px;
  padding: 5px 12px;
  text-align: center;
  font-size: 11px;
  font-weight: 300;
  text-transform: uppercase;
  width: 76px;
  color: #000000;
  background-color: #ffffff;
}

.cities .title {
  margin-top: 38px;
  margin-bottom: 0px;
  font-size: 38px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 30px;
}

.cities_descr {
  color: #ffffff;
  text-align: center;
  font-size: 17px;
  margin-top: 10px;
  font-weight: 400;
}

.cities_view {
  text-align: center;
  font-size: 16px;
  margin-top: 460px;
  font-weight: 400;
  text-transform: uppercase;
}

.cities_view a {
  text-decoration: none;
  color: #1EACC7;
}

.cities_view a:hover {
  color: #259E27;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 9px 21px 30px 21px;
  vertical-align: center;
}

.footer_social {
  margin-top: 42px;
  width: 33%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: 36px;
}

.footer_social_ftis {
  width: 32px;
  height: 32px;
  margin-right: 9px;
  background-color: #070716;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer_social_ftis i {
  color: white;
}

.footer_menu {
  padding_top: 9px;
  width: 33%;
}

.footer_menu_br {
  width: 300px;
  height: 4px;
  background-color: #1FBAD6;
  margin-left: 50px;
}

.footer_menu_1 ul, .footer_menu_2 ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style-type: none;
  padding: 0;
  margin-bottom: 0;
}

.footer_menu_1 ul {
  margin-top: 30px;
}

.footer_menu_2 ul {
  margin-top: 15px;
}

.footer_menu_1 ul li {
  padding-right: 46px;
}

.footer_menu_1 ul li:last-child, .footer_menu_2 ul li:last-child {
  padding-right: 0;
}

.footer_menu_1 ul li a {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 16px;
  font-weight: 300;
  color: #2C101D;
}

.footer_menu_2 ul li {
  padding-right: 20px;
}

.footer_menu_2 ul li a {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 12px;
  font-weight: 300;
  color: #A88D8D;
}

.footer_menu_lg {
  text-align: center;
  margin-top: 15px;
}

.footer_menu_lg a {
  color: #3DC3DB;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 300;
  text-decoration: none;
}

.footer_web {
  width: 33%;
  margin-top: 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.footer_web img {
  margin-right: 6px;
}

.footer_web img:last-child {
  margin_right: 0;
}

.xs_visible {
  display: none;
}

@media (max-width: 1200px) {
  .menu_item {
    padding-right: 20px;
  }
  .menu_link {
    font-size: 13px;
  }
  .promo_header {
    font-size: 50px;
  }
  .content_descr {
    width: 300px;
  }
}

@media (max-width: 991px) {
  .menu_item {
    padding-right: 8px;
  }
  .menu_link {
    font-size: 10px;
  }
  .subheader_logo .logo1 {
    width: 10%;
  }
  .subheader_logo .logo2 {
    width: 90%;
  }
  .subheader_official {
    font-size: 11px;
  }
  .subheader_phone {
    font-size: 18px;
  }
  .subheader_btn {
    margin-top: 21px;
    height: 40px;
    width: 100%;
  }
  .promo_header {
    font-size: 40px;
  }
  .promo_subheader {
    font-size: 30px;
  }
  .content_icon {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 767px) {
  .menu {
    position: fixed;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    top: 0;
    left: -100%;
    width: 50%;
    height: 100vh;
    padding: 20px 15px;
    background: rgba(0, 0, 0, 0.8);
    -webkit-transition: .6s all;
    transition: .6s all;
  }
  .menu_active {
    left: 0;
  }
  .menu_item {
    padding-right: 0;
    border: none;
    margin: 10px 0;
  }
  .menu_link {
    font-size: 20px;
  }
  .hamburger {
    display: block;
    position: absolute;
    right: 10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 26px;
    height: 12px;
  }
  .hamburger span {
    display: block;
    height: 2px;
    width: 100%;
    background-color: #fff;
    margin-bottom: 2px;
    -webkit-transition: .5s all;
    transition: .5s all;
  }
  .hamburger_active span {
    margin-bottom: -2px;
  }
  .hamburger_active span:nth-child(1) {
    -webkit-transform: translate(3px) rotate(-45deg);
            transform: translate(3px) rotate(-45deg);
  }
  .hamburger_active span:nth-child(2) {
    display: none;
  }
  .hamburger_active span:nth-child(3) {
    -webkit-transform: translate(3px) rotate(45deg);
            transform: translate(3px) rotate(45deg);
  }
  .xs_hidden {
    display: none;
  }
  .xs_visible {
    display: block;
  }
  .subheader_phone {
    display: block;
    margin-top: 10px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
  }
  .subheader_btn {
    width: 200px;
    height: 40px;
    margin: 0 auto;
    display: block;
    margin-top: 10px;
  }
  .promo_header {
    line-height: 45px;
  }
}

@media (max-width: 575px) {
  nav {
    height: 30px;
  }
  header {
    height: 30px;
  }
  .subheader {
    height: 60px;
    top: 30px;
  }
  .subheader_official {
    display: none;
  }
  .subheader_logo {
    width: 140px;
    margin-top: 16px;
  }
  .subheader_logo .logo1 {
    float: left;
  }
  .subheader_phone {
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 11px;
  }
  .subheader_btn {
    width: 110px;
    height: 22px;
    font-size: 10px;
    margin-top: 6px;
  }
  .promo {
    min-height: 400px;
    padding: 73px 0 35px 0;
  }
  .promo_descr {
    display: none;
  }
  .promo_header {
    font-size: 30px;
    padding: 0 24px;
    line-height: 35px;
  }
  .promo_subheader {
    font-size: 20px;
    margin-top: 33px;
    padding: 0 10px;
    line-height: 30px;
  }
  .promo_btn {
    width: 210px;
    height: 50px;
    margin-top: 72px;
    line-height: 51px;
  }
  .menu {
    width: 85%;
  }
  .menu_item {
    width: 100%;
    text-align: center;
    padding: 4px 0;
  }
  .menu_link {
    display: block;
  }
  .content {
    padding: 22px 0 36px 0;
  }
  .title {
    font-size: 16px;
    margin-top: 16px;
    line-height: 16px;
  }
}
/*# sourceMappingURL=style.css.map */